
* {
  margin: 0px;
  padding: 0px;
  color: white;
}
#grid {
  width: 60vw;
  height: 100vh;
  background-color: #008001;
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(5, 190px);
  gap: 20px;
}
#grid>#one_1{
grid-row: 1 -1;
}
#grid>#one_1{
  grid-row: 2 6 ;
  
  }
